@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* globais */
* {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

.w50 {
    width: 50%;
}

.clear {
    clear: both;
}

.navbar {
    background-color: #000;
}

.nav-link {
    margin: 0 14px;
}

.navbar-toggler-icon {
    color: #fff;

}

/* style do body */
.bg {
    width: 100%;
    padding: 80px;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section>.container {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
}

/* style img/sobre */
.box-img, .box-sobre {
    padding: 20px 2%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}

/* style da box-img */
.box-img {
    align-items: center;
    height: auto;
}

.box-img h2 {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-top: 100px;
}

.box-img p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    max-width: 460px;
}

.box-title {
    width: 80%;
    margin: 0 auto;
}

.box-title p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box-title h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* style da box-sobre e fomulario */
.box-sobre form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

form label {
    width: 80%;
    margin: 5px auto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

form input {
    border-radius: 10px;
    border: 1px solid #CCC;
    width: 80%;
    height: 50px;
    background: #FFF;
    margin: 0 auto;
    padding-left: 15px;
}

form input::placeholder {
    color: #ccc;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.esqc-senha {
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mark-senha {
    display: flex;
    justify-content: left;
    align-items: center;
}

.mark-senha p {
    font-size: 1rem;
    font-style: normal;
    font-weight: lighter;
    padding-right: 20px;
}

.ped-senha p {
    color: #B80000;
    font-size: 1rem;
    font-style: normal;
    font-weight: lighter;
}

.mark-senha input[type=checkbox] {
    width: 15px;
    height: 15px;
    vertical-align: 15px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.form-btn button {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background: #B80000;
    border: 0;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

.form-btn a {
    color: #fff;
    border-radius: 10px;
    background: #B80000;
    font-weight: bold;
    font-size: 1rem;
}

.box-btn {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.box-btn button {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background: #000;
    border: 0;
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    margin: 10px auto;
    cursor: pointer;
}

.flex a {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.n-conta {
    text-align: center;
    margin-top: 30px;
}

.n-conta p {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.n-conta span {
    color: #B80000;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

/* footer */
footer {
    background-color: #000;
    text-transform: uppercase;
}

/* responsivo da pagina */
@media screen and (max-width:1123px) {
    .ped-senha p, .mark-senha p {
        font-size: 12px;
    }
}

@media screen and (max-width:975px) {
    .box-img h2 {
        margin-top: 30px;
    }

    .box-img p {
        max-width: 100%;
    }

    form input {
        width: 100%;
    }

    form label {
        width: 100%;
        margin: 6px auto;
    }

    form input::placeholder {
        font-size: 16px;
    }

    .esqc-senha {
        width: 100%;
    }

    .mark-senha {
        width: 50%;
        justify-content: center;
    }

    .mark-senha p {
        font-size: 12px;
        padding-right: 0;
    }

    .mark-senha input[type=checkbox] {
        width: 15px;
        height: 15px;
        vertical-align: 15px;
        transform: translate(0, -50%);
        cursor: pointer;
        margin-left: 10px;
    }

    .ped-senha p {
        font-size: 15px;
    }

    .form-btn button {
        width: 100%;
    }

    .box-btn button {
        width: 100%;
        font-size: 1rem;
    }

}

@media screen and (max-width:978px) {
    .bg {
        width: 100%;
        padding: 2%;
    }

    .container {
        width: 100%;
    }

    .w50 {
        width: 100%;
        height: 100%;
    }

    section>.container {
        max-width: 95%;
        max-height: 100%;
    }

    .box-title {
        width: 100%;

    }

    .flex a {
        font-size: 1rem;
    }

    .mark-senha p {
        font-size: 12px;
    }

    .ped-senha p {
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {
    .box-img h2, .box-title h2 {
        font-size: 1.5rem;
    }

}